bin
bin/default
.metadata
.classpath
.project
.idea
build
logs 

log4jInfo.log

#node
nodeCode/*/node_modules/
*.lck
package-lock.json

# MQTT generated
*-tcp*


/ReadMe.html
.lck/ 
docker/
/.metadata/
/src-gen/
/.gitignore
/Arch_robotsmart26.py
/build2025.gradle
/build2025Starting.gradle
/robotsmart26.pl
/settings.gradle
/sysRules.pl
/.gradle/
